.Container
{
    margin: 2%;
    margin-top: 3%;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}
*
{
    color: white;
}
html {
    background-color: #222223;
}

.Home
 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .cardHolder
 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    row-gap: 20px;
    column-gap: 8%;
 }

@media(max-width: 600px) {
    .Container
{
    margin: 2%;
    margin-top: 3%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  }